/* STOMME - Start*/
body {
    margin: 20px auto;
    width: 1200px;
    font-family: 'Comic Sans MS'; 
    font-size: 1.4em;
    background-color: #cbc9c9;
    display: grid;
    grid-template-columns: 25% 75%;
}
header {
    display: flex;
    grid-column: 1/3;
}
img { width: 200px; }
header h1 {
    font-size: 80px;
    padding-left: 50px;
    padding-top: 30px;
    line-height: 0;
    color: #fff;
    font-weight: normal;
}
header h1 span:first-child { color: #0e9018; }
header h1 span:last-child { color: #ff0000; }
nav ul { list-style-type: none; }
nav a {
    display: block;
    padding: 10px 10px 20px 10px;
    color: #000;
    text-decoration: none;
    font-size: 1.6em;
}
main {
    padding: 30px 10px 10px 10px;
}
/* STOMME - end */

/* INDEX CONTENT */
main img {
    float:left;
    width: 300px;
}
#indexcontent {
    width:50%;
    float:left;
    margin-left:90px;
    color:#707070;
}
#indexcontent h2 {
    font-size:2em;
    font-weight: normal;
    margin-top:0;
}

/* KONTAKT */
#kontaktcontent {
  font-family: times-new-roman;
  font-size: 1.5em;
  color: #707070;
  margin-left: 4em;
}

/* MENY */

/* MENY */
td {
    color: #707070;
    vertical-align: top;
}
td:first-child { width: 330px; }

dl { margin: 0 0 20px 0;}
dd {
    margin: 0;
    font-style: italic;
}
